.root {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin: 0 2px;

  &:not(:first-child) {
    border-top: solid 1px #ffffff33;
  }
  img {
    border-radius: 50% !important;
  }
  > div {
    display: flex;
    align-items: center;
  }
  .user_login {
    margin-left: 5px;
    color: inherit;
  }
  .buttons {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
  }
}
