.row {
  padding: 4px 0;
  margin: 0;
  height: 46px;

  .left {
    width: 25%;
    padding-top: 10px;
    float: left;

    label {
      color: #bdc2c4;
      font-weight: 500;
    }
  }

  .right {
    float: left;
    width: 75%;

    .split {
      // display: inline-block;

      & > div {
        width: 48.71%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .preview {
      display: flex;

      .img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 38px;
        height: 38px;
      }

      button {
        width: 38px;
        height: 38px;
      }

      .wasd-input-wrapper {
        padding-left: 10px;
        width: calc(100% - 38px);
      }
    }

    .tooltip_wrapper {
      width: 20px;
      height: 20px;
      display: flex;
      font-size: 12px;
      font-weight: 800;
      justify-content: center;
      align-items: center;
      color: rgba(255, 255, 255, 0.32);
      border: 3px solid rgba(255, 255, 255, 0.32);
      margin: 10px;
      border-radius: 25px;
    }
  }
}

.copy-input {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.range-slider__tooltip__label {
  font-size: 12px !important;
}
